{{>layouts/header}}
<div class="container">
    <iframe name="test" height="500" class="w-full my-auto mx-auto" align="center" id="text"
            src="http://localhost:8234/" frameborder="3"
            scrolling="yes">
    </iframe>
</div>

{{>layouts/footer}}
