<!doctype html>
<html lang="en" data-theme="light">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 스프링 부트 스트랩 -->
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">

    <!-- 데이지 UI-->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.11.1/dist/full.css" rel="stylesheet" type="text/css" />

    <title>Hello, world!</title>
</head>

<!-- 임시 navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">WhatApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="#">시작하기</a>
                <a class="nav-link" href="#">게시판</a>
            </div>
        </div>
        <div class="navbar-nav d-flex flex-row-reverse bd-highlight">
            <div class="p-2 bd-highlight"><a class="nav-link" href="#">회원가입</a></div>
            <div class="p-2 bd-highlight"><a class="nav-link" href="#">로그인</a></div>
        </div>
    </div>
</nav>
<body>
