<!doctype html>
<html lang="ko" data-theme="light">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- 스프링 부트 스트랩 메다 -->
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, 그리고 Bootstrap 기여자들">
    <meta name="generator" content="Hugo 0.88.1">

    <!--    <link rel="canonical" href="https://getbootstrap.kr/docs/5.0.2/examples/headers/">-->

    <!-- 스프링 부트 스트랩 -->
    <!--    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">-->


    <!-- 데이지 UI-->
    <!--    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.11.1/dist/full.css" rel="stylesheet" type="text/css"/>-->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.20.0/dist/full.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css"/>

    <!-- 복사한 스타일 -->
    <!-- Favicons -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--    <style>-->
    <!--{-->
    <!--    .bd-placeholder-img {-->
    <!--      font-size: 1.125rem;-->
    <!--      text-anchor: middle;-->
    <!--      -webkit-user-select: none;-->
    <!--      -moz-user-select: none;-->
    <!--      user-select: none;-->
    <!--    }-->

    <!--    @media (min-width: 768px) {-->
    <!--      .bd-placeholder-img-lg {-->
    <!--        font-size: 3.5rem;-->
    <!--      }-->
    <!--    }-->

    <!--}-->
    <!--    </style>-->

    <!--로고 파비콘-->
    <div></div>

    <div class="b-example-divider"></div>

</head>
<div class="overflow-x-auto">
    <table class="table table-zebra w-full">
        <!-- 헤더 폼 -->
        <header class="p-3 bg-info text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-center">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <img src="/chat2.png" alt="로고이미지">
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/article/list" class="nav-link px-2 text-dark">Home</a></li>
                        <li><a href="#" class="nav-link px-2 text-dark">게시판</a></li>
                        <li><a href="http://localhost:8234/" class="nav-link px-2 text-dark">Chat</a></li>
                        <li><a href="#" class="nav-link px-2 text-dark">FAQs</a></li>
                        <li><a href="#" class="nav-link px-2 text-dark">About</a></li>
                    </ul>
                    <div class="text-end">
                        <button type="button" class="btn btn-outline-light me-2" authorize="isAnonymous()"
                                onClick="location.href='/member/login'">Login
                        </button>
                        <button type="button" class="btn btn-outline-light me-2" authorize="isAuthenticated()"
                                onClick="location.href='/member/doLogout'">Logout
                        </button>
                        <button type="button" class="btn btn-warning" onClick="location.href='/member/signup'">
                            Sign-up
                        </button>

                    </div>
                </div>
            </div>
        </header>
        <!-- 헤더 폼여기까지 -->
    </table>
</div>
<!--스타일 여기까지 -->


<title>WhatChat</title>
</head>


<body>
