{{>layouts/header}}
<div class="container my-3">
    <form action="/member/doLogin" method="post">
<!--        <div id="paramError">-->
<!--            <div class="alert alert-danger">-->
<!--                사용자ID 또는 비밀번호를 확인해 주세요.-->
<!--            </div>-->
<!--        </div>-->
        <div class="mb-3">
            <label for="loginId" class="form-label">사용자ID</label>
            <input type="text" id="loginId" name="loginId" class="form-control">
        </div>
        <div class="mb-3">
            <label for="loginPw" class="form-label">비밀번호</label>
            <input type="password"  name="loginPw" id="loginPw" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div>
</html>
{{>layouts/footer}}

<script>
    {

    }
</script>