{{>layouts/header}}
<div class="container">
    <table class="table" style="table-layout: fixed" >
        <colgroup>
            <col width="5%"/>
            <col width="40%"/>
            <col />
            <col width="15%"/>
        </colgroup>
        <thead>
        <tr>
            <th scope="col" class="text-center">번호</th>
            <th scope="col" class="text-center">제목</th>
            <th scope="col" class="text-center">내용</th>
            <th scope="col" class="text-center">작성날짜</th>
        </tr>
        </thead>
        <tbody>
        {{#articles}}
            <tr>
                <th>{{id}}</th>
                <td width="40%" class="overflow-hidden"><a href="/article/detail/{{id}}">{{title}}</a></td>
                <td width="40%" class="overflow-hidden"> {{body}}</td>
                <td width="10%" class="overflow-hidden">{{regDate}}</td>
            </tr>
        {{/articles}}
        </tbody>
    </table>
    <a href="/article/new" class="btn btn-primary me-10">생성하기</a>
</div>

{{>layouts/footer}}



