{{>layouts/header}}
<div class="container">
    <h1>게시물 수정 페이지</h1>
    <table>
        <tr>
            <td name="title" value="{{#ArticleForm}}{{title}}{{/ArticleForm}}"></td>
            {{#validationErrors}}
                {{#title}}
                    <div class="alert alert-primary alert-dismissible">
                        {{title}}
                    </div>
                {{/title}}
            {{/validationErrors}}
        </tr>
        <tr>
            <td name="body" value="{{#ArticleForm}}{{body}}{{/ArticleForm}}"></td>
            {{#validationErrors}}
                {{#body}}
                    <div class="alert alert-primary alert-dismissible">
                        {{body}}
                    </div>
                {{/body}}
            {{/validationErrors}}
        </tr>
    </table>
    <form action="/article/modify/{{id}}" method="post">
        <div class="mb-3 mt-3">
            <label for="title" class="form-label"><h5>제목</h5></label>
            <input type="text" class="form-control" name="title">

        </div>
        <div class="mb-3">
            <label for="body" class="form-label"><h5>내용</h5></label>
            <textarea name="body" class="form-control" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">수정하기</button>
        <a href="/article/list" class="btn btn-primary">뒤로가기</a>
    </form>
</div>
{{>layouts/footer}}