<div>
    <form action="/article/modify{{id}}" method="post" class="my-3">
        <div class="mr-3">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-danger" id="btn-delete"
                        onClick="location.href='/article/modify/{{article.id}}'">수정
                </button>
                &nbsp;w
                <div class="ml-3">
                    <button type="button" class="btn btn-danger" id="btn-delete"
                            onClick="location.href='/article/delete/{{article.id}}'">삭제
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>