{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">번호</th>
        <th scope="col">제목</th>
        <th scope="col">내용</th>
    </tr>
    </thead>
    {{#article}}
        <tbody>
        <tr>
            <th>{{id}}</th>
            <td>{{title}}</td>
            <td>{{body}}</td>
        </tr>
    {{/article}}
        </tbody>
</table>

{{>layouts/footer}}




