<div>
    <label class="label">
        <span class="label-text">댓글</span>
    </label>
    {{#commentList}}
        <div class="card my-3">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;">
                    {{comments}}
                </div>
                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div>{{updateDate}}
                        </div>
                    </div>
                    <form action="/comment/delete/{{id}}" method="post" class="my-3">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-danger" id="btn-delete"
                                        onClick="location.href='/comment/delete/{{comment.id}}'">삭제
                                </button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    {{/commentList}}
</div>

