<div class="collapse" id="collapseExample{{id}}">
{{#comments}}
        <form action="/comment/modify/{{id}}" method="post">
            <div>
                <textarea class="form-control" name="comments" id="comments" rows="3">{{comments}}</textarea>
            </div>
            <button type="submit" class="btn btn-outline-primary mt-3">수정
            </button>
        </form>
{{/comments}}
</div>