<table>
    <tr>
        <td name="comments" value="{{#CommentForm}}{{comments}}{{/CommentForm}}"></td>
        {{#validationErrors}}
            {{#comments}}
                <td>comments error: {{comments}}</td>
            {{/comments}}
        {{/validationErrors}}
    </tr>
</table>
<form action="/comment/create/{{id}}" method="post" class="my-3" >
    <div class="form-control">
        <label class="label">
            <span class="label-text">댓글 쓰기</span>
        </label>
        <textarea class="textarea textarea-bordered h-24" placeholder="댓글을 입력해 주세요" name="comments"
                  id="comments"></textarea>
    </div>
    <input type="submit" value="댓글등록" class="btn btn-outline"/>
</form>
