<div">
    <label class="label">
        <div class="fs-4">댓글</div>
    </label>
    <hr>
    {{>comment/comment_create}}
    <table>
        <tr>
            <td name="comments" value="{{#CommentForm}}{{comments}}{{/CommentForm}}"></td>
            {{#validationErrors}}
                {{#comments}}
                    <div class="alert alert-primary alert-dismissible">
                        {{comments}}
                    </div>
                {{/comments}}
            {{/validationErrors}}
        </tr>
    </table>
    {{#commentList}}
        <div class="my-3">
            <div class="card-body">
                <div class="row align-items-start">
                    작성자
                </div>
                <div class="row align-items-start">
                    <div class="card">
                        <pre class="d-flex justify-content-start mt-2 fs-5 text-break">{{comments}}</pre>
                        <span class="fs-6 mb-2 mt-2">{{updateDate}}</span>
                    </div>
                </div>
                <!--  수정, 삭제  버튼 -->
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary mr-1 btn-sm" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample{{id}}" aria-expanded="false"
                            aria-controls="collapseExample"
                            id="btn-modify">수정
                    </button>
                    <button type="button" class="btn btn-warning btn-sm" id="btn-delete"
                            onClick="location.href='/comment/delete/{{id}}'">삭제
                    </button>
                </div>
                {{>comment/comment_modify}}
            </div>
            <hr>
        </div>
    {{/commentList}}
</div>

