<div>
    <label class="label">
        <div class = "fs-4">댓글

        </div>
    </label>
    <hr>
    <table>
        <tr>
            <td name="comments" value="{{#CommentForm}}{{comments}}{{/CommentForm}}"></td>
            {{#validationErrors}}
                {{#comments}}
                    <div class="alert alert-primary alert-dismissible">
                        {{comments}}
                    </div>
                {{/comments}}
            {{/validationErrors}}
        </tr>
    </table>
{{#commentList}}
        <div class="card my-3">
            <div class="card-body">
                <!--  수정  버튼 -->
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary mr-2 btn-sm" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample{{id}}" aria-expanded="false"
                            aria-controls="collapseExample"
                            id="btn-modify">수정
                    </button>
                    <button type="button" class="btn btn-warning btn-sm" id="btn-delete"
                            onClick="location.href='/comment/delete/{{id}}'">삭제
                    </button>
                </div>
                <div class="card-text" style="white-space: pre-line;">
                    {{comments}}
                </div>


                <div class="d-flex justify-content-end">
                    <div class="text-start">
                        <div>{{updateDate}}
                        </div>
                    </div>
                </div>
                {{>comment/comment_modify}}
            </div>

        </div>
    </div>
{{/commentList}}
</div>

