<form action="/comment/delete/{{id}}" method="post" class="my-3">
    <div class="col-md-12">
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger" id="btn-delete"
                    onClick="location.href='/comment/delete/{{comment.id}}'">삭제
            </button>
        </div>
</form>